<#@ template language="C#" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#= _name #>: <#= _type #> <#
    if (!_isRequired)
    {
#>| undefined<#
    } #>