.image-cropper {
    width: 170px;
    height: 170px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.author {
    height: 60%;
    text-align: center;
    padding: 0 15%;
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.social{
    font-size: 25px;
    padding-top: 10px;

    a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    }

    a:hover 
    {
        color:#00A0C6; 
        text-decoration:none; 
        cursor:pointer;  
    }
}

@media screen and (max-width: 640px){
    .author{
        height: 50%;
        padding: 10% 15%;
    }

    .map{
        width: 450px;
        height: 200px;
        display: flex;
        padding: 20% 0;
    }

    .section{
        align-items: flex-start;
        display: block;
    }

    .flex{
        display: flex;
    }

}