.error-list {
  display: block;
  padding: 10px 12px 10px 10px;
  border-radius: 2px;
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
  background-color: #ff5f5f;
}

.error-list .fas {
  margin-right: 10px;
  font-size: 0.85em;
}
