.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  font-size: 20px;
  border-bottom: 2px solid #70a1ff;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-input {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid #70a1ff;
  transition: border 0.4s ease-out;
  padding: 10px;
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
  border: 2px solid #70a1ff;
}

.login-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
  font-size: 14px; //color: rgba(46, 213, 116, 0.839);
  color: rgba(15, 15, 15, 0.4);
}

.login-btn {
  width: 100%;
  display: block;
  padding: 5px 30px;
  border: 0;
  font-size: 16px;
  border-radius: 3px;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 30px;
  border: 2px solid #417cef;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  transition: all 0.2s ease-in-out;
  background-color: #417cef;
  color: white;
}

.danger-error {
  color: #e74c3c;
  font-size: 14px;
}

.password-state {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.pwd {
  height: 6px;
  flex: 1;
  visibility: hidden;
}

.pwd-weak {
  background-color: #e74c3c;
}

.pwd-medium {
  background-color: #3498db;
}

.pwd-strong {
  background-color: #2ecc71;
}

.show-login-register-form-panel {
  visibility: visible;
}
