.navbar-logo {
  padding: 10px;
  .navbar-title {
  padding-left: 10px;
  }
}

.navbar-signIn {
  color: white;
  font-size: 14px;
  padding: 10px;
  display: none;
  cursor: pointer;
  
  a {
  text-decoration: none;
  color: white;
  }

  .signIn-text {
  padding-right: 5px;
  }
}

.bar {
  width: 30px;
  margin: 4px;
  height: 4px;
  color: wheat;
  background: grey;
}

.navbar-btn {
  display: inline-block;
  cursor: pointer;
  padding-right: 5px;
  padding: 10px;
  a {
  text-decoration: none;
  color: inherit;
  }
}

.navbar-buttons {
  background: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
}

ul {
  list-style: none;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  padding: 0;
  margin: 0;

  li a {
  background: #42424242;
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 14px;
  font-weight: bold;
  }

  li a:hover {
  background: #35353535;
  color: orange;
  padding-left: 10px;
  }

}

.navbar-show {
  height: 165px;
}

@media screen and (min-width: 640px) {
  nav {
    background: #424242;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .navbar-btn {
    display: none;
  }

  .navbar-show {
    height: auto;
  }

  .navbar-signIn {
    display: block;
  }

  ul {
    display: flex;
    height: auto;
    padding-left: 40px;
    margin: 16px 0;

    li a:hover {
    background: none;
    color: orange;
    padding-left: none;
    }
  }
  nav ul a {
    background: transparent;
  }
}
