.recipes-list-text {
    text-align: center;
    h1{
      border: none;
      background-color: transparent;
    }
}

.recipe-list-row {
    justify-content: center;
}

.recipes-list-head {
    z-index: 1;
}