<#@ template language="C#" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
body: <#= _schemaName #><#
    if (!_IsRequired)
    {
#> | undefined <#
    } #>