<#@ template language="C#" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#
    if (_type.Contains("Array"))
    {
#>
let _data<#= _status #> = [] as any;
for (let _item of await _response.json()) {
    _data<#= _status #>.push(_item);
}<#
    }
    else
    {
#>
let _data<#= _status #> = <#= _type #>.fromResponse(await _response.json());<#
    }
#>