<#@ template language="C#" #>
<#@ import namespace="System.Linq" #>
class <#= _name #> {  
<#
    foreach (var (name, schema) in _properties)
    {
#>
<#= name #>: <#= schema.GetName() #> <#
        if (!_requiredProperties.Contains(name))
        {
#> ? <#
        } #>
<#
    } #>
}